{% extends "base.html" %}

{% block main %}

	{% if env.statuscode == '401' %}
		<div id="login-msg" class="box block">
			Login credentials incorrect!
		</div>
	{% endif %}

    <div id="login" class="box">
        <form action="" method="POST">
            <input name="username" class="block" type="text" placeholder="user...">
            <input name="password" class="block" type="password" placeholder="password...">
            <input type="submit" value="login">
        </form>
    </div>

{% endblock %}