{% extends "base.html" %} 

{% block resources %}
	<link  rel="stylesheet" type="text/css" href="css/content.css" />
	<script src="js/function.js"></script>
{% endblock %}

{% block main %}

	<main>
	
		<menu>
           	<a href="/background/logout.php"><img src="/img/logout.png" class="toolbar-button" /></a>
		</menu>
		
		<div id="choose-section" class="box block"> 
			<h1>How did you feel <span id="choose-day">today</span>?</h1>
			<div id="choose-buttons"><div class="loading"></div></div>
			<textarea id="choose-note" class="block" placeholder="Note"></textarea>
		</div> 
		
		<div id="last-week" class="box block">
			<h1>Last 7 days...</h1>
			<div id="last-week-boxes"><div class="loading"></div></div>
		</div>
		
		<div id="last-month" class="box block">
			<h1>Last 30 days...</h1>
			<div id="last-month-boxes"><div class="loading"></div></div>
		</div>
		
	</main>

{% endblock %}
