.day-box {
	height: 16px;
	width: 16px;
	cursor: pointer;
	background-color: gray;	
	display: inline-block;
}

/* Thanks to: http://www.color-hex.com/color-palette/49772 */

.day-mood-sad {
	background-color: #4cb3db;
}

.day-mood-angry {
	background-color: #ea5f5f;
}

.day-mood-neutral {
	background-color: #695fd8;
}

.day-mood-happy {
	background-color: #5dd665;
}

.day-mood-stressed {
	background-color: #e6e74c;
}
